.block-infos {
  padding: 6rem 0;
}
.block-infos .grid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.block-infos .grid .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 442px;
  height: 312px;
  background-color: #faf8f8;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.block-infos .grid .card .red-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: #ff004f;
  border-radius: 1rem;
}
.block-infos .grid .card .card-title {
  align-self: flex-start;
  font-family: sans-serif;
  font-size: 3rem;
  line-height: 116.66%;
  font-weight: 400;
  z-index: 2;
}
@media (max-width: 1440px) {
  .block-infos .grid .card .card-title {
    font-size: 2.5rem;
  }
}
.block-infos .grid .card .picto-container {
  display: block;
  position: relative;
  align-self: flex-end;
  width: auto;
  height: 4rem;
  z-index: 2;
}
@media (max-width: 1440px) {
  .block-infos .grid .card .picto-container {
    height: 3rem;
  }
}
.block-infos .grid .card .picto-container svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  fill: #000;
}